{% extends 'base.html' %}

{% block content %}
	<div class='largeBlock'>
		<h2> nom-search:</h2>
		<h3> check out noms using yummly's api</h3>
	</div>

	{% if success %}
		<p> yeah food, we're searching now.</p>

	{% else %}

		{% for message in form.ingredient.errors %}
			<div class='flash'>{{ message }}</div>
		{% endfor %}

		{% for message in form.recipe.errors %}
			<div class='flash'>{{ message }}</div>
		{% endfor %}


	<form action="{{ url_for('ing_search') }}" method=POST>
		{{ form.hidden_tag() }}

		{{ form.ingredient.label }}
		{{ form.ingredient }}

		{{ form.ing_submit }}

		{{ form.recipe.label }}
		{{ form.recipe }}

		{{ form.rec_submit }}
	</form>



{% endblock %}
