<!DOCTYPE html>
<html>
  <head>
    <title>nomitude - for knowing about the nomming</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">nomitude</h1>
        <strong><nav>
          <ul class='menu'>
            <li><a href="{{ url_for('home') }}">home</a></li>
            <li><a href="{{ url_for('about') }}">about</a></li>
            <li><a href="{{ url_for('contact') }}">contact</a></li>
            <li><a href="{{ url_for('ing_search') }}">ingredients</a></li>   
            <li><a href="{{ url_for('recipe_search') }}">recipes</a></li>             
            <li><a href="{{ url_for('signup') }}">signup</a></li>            
            <li><a href="{{ url_for('signin') }}">signin</a></li>            

          </ul>
        </nav></strong>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>

  



  